/* background-image: url('https://media.tenor.com/FnrYIJAcRjoAAAAC/national-beach-day-waves.gif'); */
html, body{
    max-width: 100%;
    overflow-x: hidden;
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

body{
    /* original color: rgb(120, 147, 197) */
    background: linear-gradient(180deg, rgb(81, 136, 170) 8%, rgb(188, 230, 215) 20%, rgba(255,255,255,1) 28%);
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.parallax{
    background-image: url('https://media3.giphy.com/media/3oz8xur099boo4N9aU/giphy.gif'); 
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.innerPage{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-top: 130px;
    justify-content: center;
    align-items: center;
}

.pageSection{
    margin-top: 300px;
}

#navbar{
    position: fixed;
    justify-self: flex-end;
    top: 0; 
    margin-top: 1vh;
    background-color: none;
    height: 10vh;
    padding-left: 5vw; 
    padding-right: 5vw; 
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap; 
    margin-right: 1vw;
    margin-bottom: 100px;
}

li{
    font-size: 17px;
    display: inline;
}

li a{
    cursor: pointer;
    padding: 10px; 
    text-shadow: 1px 1px 2px #95b8d1, 0 0 1em #7fa8d2, 0 0 0.2em #bbded7;
    color: white;
    text-decoration: none;
}

li a:hover{
    background-color: #6a87f4;
    border-radius: 8px;
}

#logo{
    font-size: 80px;
    text-shadow: 1px 1px 2px #95b8d1, 0 0 1em #7fa8d2, 0 0 0.2em #bbded7;
}

#logomark{
    height: 80px;
    width: 80px;
}

p{
    font-size: 18px;
}

#intro{
    
}

#textbox1{
    margin-top: 500px;
    color: rgb(81, 136, 170);
    line-height: 2;
    margin: 0 300px;
}
#textbox2{
    color: rgb(81, 136, 170);
    line-height: 2;
    margin: 0 300px;
}

#clipboard{
    display: flex;
    align-self: center;
    background:#FAFAFA;
    color: #8aaed0;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 500px;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clipboardButton{
    border: none;
    background-color: #FAFAFA;
}
.clipboardButton:hover{
    cursor: pointer;
}

#teamContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.team{
    border-radius: 20px;
    height: 20vw;
    width: 20vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.introBox{
    display: flex;
    color: rgb(81, 136, 170);
    line-height: 2;
    width: 60%;
    text-justify: inter-word;
}

.featureBox{
    display: flex;
    flex-direction: column;
    color: rgb(81, 136, 170);
    line-height: 2;
    width: 60%;
    text-justify: inter-word;
}

