html{
    scroll-behavior: smooth;
}
body{
    max-width: 100%;
    overflow-x: hidden;
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(180deg, rgb(81, 136, 170) 8%, rgb(188, 230, 215) 20%, rgba(255,255,255,1) 28%);
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 20vw;
}

/* .parallax{
    background-image: url('https://media3.giphy.com/media/3oz8xur099boo4N9aU/giphy.gif'); 
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */

.innerPage{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-top: 130px;
    justify-content: center;
    align-items: center;
}

.pageSection{
  
}

#navbar{
    position: fixed;
    justify-self: flex-end;
    top: 0; 
    margin-top: 1vh;
    background-color: none;
    height: 10vh;
    padding-left: 5vw; 
    padding-right: 5vw; 
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap; 
    margin-right: 1vw;
    margin-bottom: 100px;
}

nav{
    font-size: 17px;
}

nav a{
    cursor: pointer;
    padding: 10px; 
    text-shadow: 1px 1px 2px #95b8d1, 0 0 1em #7fa8d2, 0 0 0.2em #bbded7;
    color: white;
    text-decoration: none;
}

nav a:hover{
    background-color: #6a87f4;
    border-radius: 8px;
}

#dropdownMenu{
    display: none;
    position: fixed; 
    top: 0; 
    align-items: right; 
}

#dropdown{
    margin-top: 10px; 
    width: 200px;
    height: 40px;
    border-radius: 20px; 
    border: none; 
    box-shadow: 1px 1px 2px #95b8d1, 0 0 1em #7fa8d2, 0 0 0.2em #bbded7; 
    color: rgb(81, 136, 170);
}

#logo{
    font-size: 80px;
    text-shadow: 1px 1px 2px #95b8d1, 0 0 1em #7fa8d2, 0 0 0.2em #bbded7;
}

#logomark{
    height: 80px;
    width: 80px;
}
/* 
p{
    font-size: 18px;
} */


#textbox1{
    margin-top: 500px;
    color: rgb(81, 136, 170);
    line-height: 2;
    margin: 0 300px;
}
#textbox2{
    color: rgb(81, 136, 170);
    line-height: 2;
    margin: 0 300px;
}

#clipboard{
    display: flex;
    align-self: center;
    background:#FAFAFA;
    color: #8aaed0;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 500px;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clipboardButton{
    border: none;
    background-color: #FAFAFA;
}
.clipboardButton:hover{
    cursor: pointer;
}

#teamContainer{
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(2, 1fr);
}

.team{
    border-radius: 20px;
    height: 20vw;
    width: 20vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw; 
    margin: 100px;
}

.introBox{
    display: flex;
    color: rgb(81, 136, 170);
    line-height: 2;
    width: 60%;
    text-justify: inter-word;
}

.featureBox{
    display: flex;
    flex-direction: column;
    color: rgb(81, 136, 170);
    line-height: 2;
    width: 60%;
    text-justify: inter-word;
}

.flipCardContainer{
    margin-bottom: 300px;
}

.flipCard {
    background-color: transparent;
    border-radius: 50px;
    height: 20vw;
    width: 20vw;
    perspective: 1000px; 
  }
  
  /* This container is needed to position the front and back side */
  .flipCardInner {
    position: relative;
    border-radius: 20px;
    height: 20vw;
    width: 20vw;

    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flipCardFront, .flipCardBack {
    position: absolute;
    border-radius: 20px;
    height: 20vw;
    width: 20vw;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flipCardFront {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flipCardBack {
    background-color: rgb(120, 147, 197);
    color: white;
    transform: rotateY(180deg);
  }

  .links{
    font-size: 35px;
    color: white;
    cursor: pointer;
  }

  .icons:hover{
    box-shadow: 1px 1px 2px #95b8d1, 0 0 1em #7fa8d2, 0 0 0.2em #bbded7;
    border-radius: 5px;
  }

.diagram{
    width: 700px;
    height: 400px;
}

@media only screen and (max-width: 1000px) {
    .diagram{
        width: 320px;
        height: 300px;
    }
  
    #navbar{
        flex-wrap: wrap;
    }
    #logoSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px; 
    }
    #logo{
        font-size: 60px;
    }
    #clipboard{
        width: 300px
    }
   
    #intro{
        margin-top: 200px
    }
    #introText{
        font-size: 14px;
    }
    .sandbox{
        flex-wrap: wrap;
    }
    .featureContainer{
        flex-wrap: wrap;
    }
    .featureBox, .pageSection{
        margin-top: 600px;
    }
    #queryEntry, #sandboxResponse{
        min-width: 50vw;
    }
}

@media only screen and (max-width: 800px) {
       #teamContainer, .flipCard{
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        align-self: center;
        margin: 70px; 
    }
    .flipCardFront, .team, .flipCardBack, .flipCardInner{
        width: 200px;
        height: 200px;
    }
    #queryEntry, #sandboxResponse{
        min-width: 50vw;
    }
}

@media only screen and (max-width: 600px) {
    body{
        margin: 50px; 
        max-width: 600px; 
    }
    .diagram{
        width: 320px;
        height: 300px;
    }
  
    #navbar{
        flex-wrap: wrap;
    }
    #logoSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px; 
    }
    #logo{
        font-size: 60px;
    }
    #clipboard{
        width: 300px
    }
    #teamContainer, .flipCard{
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        align-self: center;
        margin: 70px; 
    }
    .flipCardFront, .team, .flipCardBack, .flipCardInner{
        width: 200px;
        height: 200px;
    }
    #navbar{
        display: none;
    }
    #intro{
        margin-top: 200px
    }
    #introText{
        font-size: 14px;
    }
    .sandbox{
        flex-wrap: wrap;
    }
    .featureContainer{
        flex-wrap: wrap;
    }
    .featureBox, .pageSection{
        margin-top: 600px;
    }
    #queryEntry, #sandboxResponse{
        min-width: 50vw;
    }
}

#splache{
    font-size: 24px;
    color: rgb(81, 136, 170); 
}

#sandboxStart{
    display: flex;
    flex-direction: column;
    border: none;
    background: linear-gradient(180deg, rgb(81, 136, 170) 5%, rgb(188, 230, 215) 90%);
    color: white;
    height: fit-content;
    border-radius: 50px;
    padding: 0 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.sandbox{
    display: flex;
    
}

#queryEntry, #sandboxResponse{
    background-color: white;
    color:  rgb(81, 136, 170);
    border:rgb(81, 136, 170) solid 2px ; 
    height: fit-content;
    font-size: 14px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#queryRes{
    margin: 50px 100px;
}

#sandboxNav{
    background: white;
    padding: 15px; 
    margin: 10px;
    border-radius: 10px;
}

.clickedButton{
    border: none;
    cursor: pointer;
    background-color: rgb(81, 136, 170);
    border-radius: 10px;
    padding: 10px; 
    color: white ;
    margin: 8px;
}

.sandBoxButton{
    border: rgb(81, 136, 170) 1px solid; 
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    padding: 10px; 
    color: rgb(81, 136, 170);
    margin: 8px;
}

#textarea{
    width: 20vw;
    height: 25vh;
    color:  rgb(81, 136, 170);
    border:  rgb(81, 136, 170) 1px solid;
}

.featureContainer{
    display: flex;
    gap: 1%;
}
.featureInd{
    background: rgb(81, 136, 170);
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.icon{
    font-size: 40px; 
}

.bottom{
    margin-bottom: 400px;
}